body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.back-style{
    background-image: url(images/donation9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#font-style{
    font-family: 'Marck Script', cursive;
    font-size: 46px;
    color:rgb(238, 173, 88);
    
}
.color-add{
    color: azure;
    text-shadow: 2px 2px 4px rgb(46, 45, 45);
}
.position{
    padding-top: 100px;
    padding-bottom: 200px;
    text-align: center;
}

.button-style{
    text-decoration: none;
    background-image: linear-gradient(rgb(205, 255, 4), rgb(44, 85, 3));
    padding: 15px 30px;
    color: aliceblue;
    font-weight: 700;
    border-radius: 40px;  
}

.set-position{
    text-align: center;
    padding-top: 50px;
}
.box-line{
    display: flex;
    
}
.inline-box1{
    border-radius: 10px;
    padding: 20px 30px;
    margin-left: 600px;
    text-align: center;
    text-decoration:dashed;
}
.inline-box2{
    border: 5px solid rgb(183, 255, 1);
    background-color: rgb(236, 255, 205);
    border-radius: 10px;
    padding: 20px 30px;
    margin-left: 20px;
    text-align: center;
    text-decoration:dashed;
}
#add-color{
    color: rgb(113, 153, 4);
}
.inline-box3{
    border-radius: 10px;
    padding: 20px 30px;
    margin-left: 20px;
    text-align: center;
    text-decoration:dashed;
}
.inline-box4{
    border-radius: 10px;
    padding: 20px 25px;
    margin-left: 20px;
    text-align: center;
    text-decoration:dashed;
}
.inline-box5{
    border-radius: 10px;
    padding: 20px 20px;
    margin-left: 20px;
    text-align: center;
    text-decoration:dashed;
}
.other-col{
    text-align: center;
    color: gray;
}
hr{
    width: 670px;
    margin-left: 625px;
    border-width: 2px;

}