body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.back-style{
    background-image: url(images/donation9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#font-style{
    font-family: 'Caveat', cursive;
    font-size: 70px;
    color: rgb(191, 255, 1);
    text-shadow: 1px 1px 2px black;
    
}
.color-add{
    color: azure;
    text-shadow: 2px 2px 4px rgb(46, 45, 45);
    font-size: 20px;
}
.position{
    padding-top: 100px;
    padding-bottom: 200px;
    text-align: center;
}

.button-style{
    text-decoration: none;
    background-image: linear-gradient(rgb(205, 255, 4), rgb(44, 85, 3));
    padding: 15px 30px;
    color: aliceblue;
    font-weight: 700px;
    border-radius: 40px; 
    
}

.gave{
    margin-top: 100px;
}
.font-big{
    font-size: 40px;
}
.set-position{
    text-align: center;
}
.box-line{
    display: flex;
}
.inline-box1{
    border-radius: 10px;
    padding: 20px 30px;
    margin-left: 267px;
    text-align: center;
    text-decoration:dashed;
    font-size: 30px;
}
.inline-box2{
    border: 5px solid rgb(183, 255, 1);
    background-color: rgb(236, 255, 205);
    border-radius: 10px;
    padding: 20px 30px;
    margin-left: 20px;
    text-align: center;
    text-decoration:dashed;
    font-size: 30px;
}
#add-color{
    color: rgb(113, 153, 4);
}
.inline-box3{
    border-radius: 10px;
    padding: 20px 30px;
    margin-left: 20px;
    text-align: center;
    text-decoration:dashed;
    font-size: 30px;
}
.inline-box4{
    border-radius: 10px;
    padding: 20px 25px;
    margin-left: 20px;
    text-align: center;
    text-decoration:dashed;
    font-size: 30px;
}
.inline-box5{
    border-radius: 10px;
    padding: 20px 20px;
    margin-left: 20px;
    text-align: center;
    text-decoration:dashed;
    font-size: 30px;
}
.other-col{
    text-align: center;
    color: gray;
}
hr{
    width: 970px;
    margin-left: 280px;
    border-width: 2px;

}

.side-line{
    background-color: rgb(236, 255, 205);
    border : 2px solid rgb(236, 255, 205);
    border-radius: 10px;
    padding: 30px;
    margin-top: 50px;
    margin-left: 100px;
    margin-left: 100px;
    text-align: center;
    width: 2000px;
    height: 350px;
}
.side-line1{
    background-color: rgb(255, 215, 244);
    border : 2px solid rgb(255, 215, 244) ;
    border-radius: 10px;
    padding: 30px;
    margin-top: 50px;
    margin-left: 30px;
    text-align: center;
    width: 2000px;
    height: 350px;
}
.side-line2{
    background-color: rgb(213, 235, 255);
    border : 2px solid rgb(213, 235, 255);
    border-radius: 10px;
    margin-top: 50px;
    padding: 30px;
    margin-left: 30px;
    margin-right: 100px;
    text-align: center;
    width: 2000px;
    height: 350px;
}

.text-style{
    width: 70%;
    margin-left: 180px;
    text-align: justify;
}
.aline{
    text-align: left;
}
.resize{
    width: 70%;
    margin-right: 250px;
    margin-left: 100px;
}

.text-position{
    text-align: center;
    background-color: rgb(1, 31, 1);
    padding-top: 40px;
}
.color-white{
    color: rgb(135, 154, 169);
    font-size: 30px;
    font-family: 'Marck Script', cursive;
}
#col-org{
    color: rgb(255, 153, 0);
}
#col-gray{
    color: rgb(245, 255, 222);
}